/* 
 *  ============================================================================
 *  Decorations 
 *  ============================================================================
 *  Everything in this stylesheet is purely decorative and can be omitted or
 *  changed without breaking the basic layout.
 */
@import url(https://fonts.googleapis.com/css?family=Raleway);
* { font-family: "Raleway", sans-serif; }

body {
    border: rgba(0, 0, 0, 0.05) 1px solid;
    color: #444;
}

th, td { 
    border: #ccc 1px solid;
    padding: 0.2em; 
}  

footer {
    border-top: #ccc 1px solid;
    text-align: center;
}

blockquote {
    padding: 1em;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
}

ul li {
  list-style: disc;
  margin-left: 1em;
}

code { 
    /*
     * Lines of code would be spaced using the paragraph spacing, which is
     * too big, so reduce it.
     */
    line-height: 1.1em; 
}

pre {
    /*
     * Lines which are too long will overflow the pre element. To avoid this, 
     * set white-space to pre-wrap, which will ensure that lines wrap when 
     * they reach the edge of the element
     */
    white-space: pre-wrap;
    
    border: rgba(0, 0, 0, 0.15) 1px solid;
    width: 100%;
    background-color: #efefee;
    padding-left: 0.5em;
}

header {
    border-bottom: #ccc 1px solid;
}

/*
 *  The Sidebar Navigation page uses a list for the navigation links. To
 *  improve the appearance, the list items are converted to a more button-like
 *  look.
 */
nav ul { margin-left: -3em; }
nav li { display: block; margin-bottom: 1em; }
nav li a { display: block; }
nav li a:hover { background-color: #eee; }
nav li a {
    text-decoration: none;
    padding-left: 0.2em;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);
    border: #ccc 1px solid;
}

@media (max-width: 480px) {
    body {
	border: none;
    }
    blockquote {
	margin: 0 auto;
    }
}