@import url(//fonts.googleapis.com/css?family=Droid+Sans);

* { font-family: "Droid Sans", sans-serif; }
html { font-size: 1em; line-height: 1.6; }
body { margin: 0; }
header { margin: 0; padding: 2%; }
h1 { margin-top: 0; }
p { margin-top: 1.5em; }
code { font-family: monospace; display: inline-block; }
nav { margin:0; float: left; width: 30%; padding: 2%; }
article { margin: 0; float: left; width: 62%; padding: 2%; }
footer { margin: 0; clear: both; padding: 2%; }

@media (max-width: 480px) {
    nav { clear:both; width: 100%; }
    nav li { float: left; }
    article { clear:both; width: 100%; }
}

html { background-color: #ddd; }
header { background-color: #ccc; }
nav { background-color: #dfdfdf; }
article { background-color: #eee; }
footer { background-color: #ccc }
nav li { margin-bottom: 1em; }
